<div class="help-section">
  <h2 class="mt-4">How to Check Out Items</h2>
  <p>
    Checking out items is a simple process that allows you to keep track of which items you are currently using. Follow the steps below to check out an item:
  </p>
  
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">
      Navigate to the <strong>Member Inventory</strong> page by clicking on "Member Inventory" in the navigation bar.
    </li>
    <li class="list-group-item">
      Browse through the list of available items or use the search function to find a specific item.
    </li>
    <li class="list-group-item">
      Once you find the item you wish to check out, click on the <strong>"Check Out"</strong> button next to the item.
    </li>
    <li class="list-group-item">
      You will receive an email once your request is approved. Make sure to collect the item.
    </li>
  </ol>

  <h2 class="mt-4">How to edit profile</h2>
  <p>
    Editing the profile is simple. Please click your name in the top right of the page and navigate to edit profile. Then follow the below steps:
  </p>
  
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">
      Edit any information you would like to change.
    </li>
    <li class="list-group-item">
      Click the <button class="btn btn-primary">Update</button> button to update profile.
    </li> 
  </ol>

  <h2 class="mt-4">Admin Help</h2>
  <p>
    This section is specifically for admins to get help.
  </p>
  
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">
      For help with transactions page:
      <ol class="list-group">
        <li class="list-group-item">
          Transactions page holds information regarding the transactions that users will have.
        </li>
        <li class="list-group-item">
          In order to confirm a checkout, please use the transactions page to confirm or deny the request.
        </li>
      </ol>
    </li>
    <li class="list-group-item">
      For help with users list:
      <ol class="list-group">
        <li class="list-group-item">
          This allows you to view different users and their information.
        </li>
      </ol>
    </li> 
  </ol>

  <h2 class="mt-4"><b>Frequently Asked Questions</b></h2>
  <div class="faq mb-3">
    <h4>Can I check out multiple items at once?</h4>
    <p>Yes, you can check out multiple items. However, each item checkout will need to occur seperate from each other.</p>
  </div>
  <div class="faq">
    <h4>What should I do if an item is not available?</h4>
    <p>You will need to wait for it to become available, or you may contact support for further information.</p>
  </div>

  <h2 class="mt-4"><b>Contact Support</b></h2>
  <div class="faq mb-3">
  <a href="https://docs.google.com/document/d/1sDx0yzwrFDHRpzBSkSgYf-ODrHoBzJ-1495WR1CCNvg/edit?usp=sharing">Link to Contacts</a>
  </div>
</div>
