<div id="<%= dom_id item %>" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title"><%= item.name %></h5>
    <% if item.available%>
      <div class="available-pill available">
        <strong>Available</strong>
      </div>
    <% else %>
      <div class="available-pill unavailable">
        <strong>Unavailable</strong>
      </div>
    <%end%>
    <p class="card-text">
      <strong>Serial Number:</strong>
      <%= item.serial_number %>
      <strong>Internal ID:</strong>
      <%= item.id %>
    </p>
    <%# Display resized item image if attached, otherwise show placeholder. %>
  </div>
</div>
