<div class="items delete d-flex flex-column align-items-center text-center">
  <h2>Delete Item</h2>
  <br>
  <%= form_for(@item, method: 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this item?</p>
    <p><%= @item.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Item") %>
    </div>

  <% end %>
  <br>
  <%= link_to("Back to Inventory", admin_items_path, class: 'btn btn-secondary btn-sm text-white') %>
</div>
