<div class="container">
  <h1>Editing Item </h1>
  <%= render 'form', item: @item %>
  <br>
  <%= link_to "Show", @item, class: "btn btn-primary btn-sm text-white" %>
  <%= link_to 'Back', admin_items_path, class: "btn btn-danger btn-sm text-white" %>
  <%= link_to 'See Inventory', admin_items_path, class: "btn btn-secondary btn-sm text-white"  %>
</div>
